body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: relative;
    float: right;
    width: 80%;
    height: 135px;
    background-color: #373867;
}

a{
    color: #373867;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

h1{
    position: absolute;
    top: 35px;
    bottom: 55px;
    left: 310px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #AACE9B;
    text-transform: uppercase;
}

.logo-1 {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 50px;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #373867;
}


aside {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #AACE9B;
    float: left;
    text-align: center;
}

aside h2{
    font-size: 25px;
}

.logo-2{
    position: absolute;
    top: 20px;
    left: 95px;
}

.my-nav{
    position: absolute;
    top: 180px;

}

.button-1{
    display: inline-block;
    padding: 14px 36px;
    width: 100px;
    height: 30px;
    margin: 10px 15px;
    background-color: #EBECF0;
    color: #373867;
    text-align: center;
    text-decoration: none;
}

.button-1 a{
    text-transform: uppercase;
}

.button-selection{
    display: inline-block;
    padding: 14px 36px;
    width: 100px;
    height: 30px;
    margin: 10px 15px;
    background-color: #373867;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.button-selection a{
    color: #fff;
    text-transform: uppercase;
}

.other-options {
    position: absolute;
    top: 500px;
    text-align: left;
    left: 38px;
}

.img-2{
    display: inline;
    padding-top: 20px;
    height: 30px;
    width: 30px;
}

.main-content{
    width: 80%;
    float: right;
    position: relative;
}

.reason-health h2{
    position: absolute;
    top: 68px;
    left: 68px;
}

.reason-health p{
    position: absolute;
    top: 120px;
    left: 74px;
    display: inline-block;
    width: 40%;
    color: #373867;
    font-size: 20px;
    font-weight: 600;
}

.reason-health img{
    display: block;
    margin-left: 434px;
    width: 60%;
    
}

#help{
    position: relative;
    width: 1122px;
    height: 876px;
    margin-top: 112px;
}

#help h2{
    position: absolute;
    top: 125px;
    left: 385px;
    color: #fff;
}

#help li{
    display: inline-block;
    width: 257px;
    height: 50px;
    padding: 25px 36px 0px;
    background-color: #EBECF0;
    color: #373867;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

#help li:nth-child(1){
    position: absolute;
    top: 267px;
    left: 200px;
}

#help li:nth-child(2){
    position: absolute;
    top: 267px;
    left: 605px;
}

#help li:nth-child(3){
    position: absolute;
    top: 556px;
    left: 200px;
}

#help li:nth-child(4){
    position: absolute;
    top: 556px;
    left: 605px;
}

#help img{
    position: absolute;
    left: 74px;
    top: 0px;
    z-index: -1;
    width: 1022px;
    height: 776px;
}

.footer{
    position: relative;
    width: 80%;
    float: right;
    background-color: #373867;
}

.footer small{
    position: absolute;
    top: 38px;
    bottom: 40px;
    left: 58px;
}