<!DOCTYPE html>
<html>
    <head>
        <title>Mega Rocket S.A.</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/login.css">
        <script defer src="../js/login.js"></script>
    </head>
    <body>
        <div class="login-container">
            <aside class="login-aside">
                <a href="./Index.html"><img class="back-button" src="../../assets/img/go-back.png" alt="back button"></a>
                <img class="login-logo-2" src="../../assets/img/logo-2-login.png" alt="Radium Rocket logo">
            </aside>
            <main id="login">
                <img class="login-logo" src="../../assets/img/logo-login-1.png" alt="Iso Radium">
                <form class="login-form">
                    <div class="data-input">
                        <img src="../../assets/img/user-icon.png" alt="user icon">
                        <label id="email-data" class="login-data">
                            <p>Email</p>
                            <input type="email" name="e-mail" placeholder="Insert Email">
                        </label>
                        <p class="message"></p>
                    </div>
                    <div class="data-input">
                        <img src="../../assets/img/password-icon.png" alt="pass icon">
                        <div class="input-text">
                            <label class="login-data">
                                <p>Password</p> <input type="password" name="pass" placeholder="Insert Password">
                            </label>
                            <p class="message"></p>
                        </div>
                    </div>
                    <div class="login-assist">
                        <div class="input-text">
                            <label class="login-keep">
                                <input id="Keep-me" type="checkbox" name="Keep me signed in" value="keep-me">
                                Keep me signed in
                            </label>
                        </div>
                    <a href="#">Forgot password?</a>
                    </div>
                    <button id="login-button" class="log-button" type="button">Log in</button>
                </form>
                <a class= "sign-up-link" href="./sign-up.html">Dont have an account? Sing up today!</a>
            </main>
        </div>
    </body>
</html>