<!DOCTYPE html>
<html>
    <head>
        <title>Mega Rocket S.A.</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
        <script defer src="../js/sign-up.js"></script>
    </head>
    <body>
        <div class="sign-up-container">
            <aside class="signup-aside">
                <img class="login-logo-2" src="../../assets/img/logo-2-login.png" alt="logo Radium">
            </aside>
            <main id="sign-up">
                <a href="index.html"><img class="back-button" src="../../assets/img/go-back.png" alt="go back button"></a>
                <div class="register-data">
                    <img class="login-logo" src="../../assets/img/logo-login-1.png" alt="Radium Iso">
                    <form class="form-display">
                        <div>
                        <label class="register-item">
                            <p>Name</p><input type="text" name="input-name" placeholder="Insert Name">
                        </label>
                        <p class="message"></p>
                        </div>
                        <div>
                        <label class="register-item">
                            <p>Last Name</p><input type="text" name="surname" placeholder="Insert Last Name">
                        </label>
                        <p class="message"></p>
                        </div>
                        <div>
                        <label class="register-item">
                            <p>DNI</p><input type="text" name="national-doc" placeholder="Insert your DNI number">
                        </label>
                        <p class="message"></p>
                        </div>
                        <label class="register-item">
                            <p>Date of birth</p><input type="date" placeholder="">
                        </label>
                        <label class="register-item">
                            <p>Phone number</p><input type="text" placeholder="Insert your phone number">
                        </label>
                        <label class="register-item">
                            <p>Address</p><input type="text" placeholder="Insert your current address">
                        </label>
                        <label class="register-item">
                            <p>City</p><input type="text" placeholder="Insert your city of residence">
                        </label>
                        <label class="register-item">
                            <p>Postal code</p><input type="text" placeholder="Insert your postal code">
                        </label>
                        <label class="register-item">
                            <p>Email</p><input type="email" placeholder="Insert your email adress">
                        </label>
                        <label class="register-item">
                            <p>Password</p><input type="password" placeholder="Insert your password">
                        </label>
                        <label class="register-item">
                            <p>Repeat Password</p><input type="password" placeholder="Re-inserte your password">
                        </label>
                        <label class= "terms-conditions">
                            <p>Accept terms and conditions?</p><input type="checkbox" name="TermsAndConditions" value="terms">
                        </label>
                    </form>
                    <button class="register-button" type="button"><a href="#">Register</a></button>
                </div> 
                
            </main>
        </div>
    </body>
</html>