aside{
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.burger{
    align-self: flex-start;
}

.logo-2{
    margin-top: 2rem;
    order: 1;
    border: #AACE9B 1px solid;
}

.my-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    align-items: center;
    margin-top: 2rem;
}

.my-nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    height: 4.3rem;
    border: 1px #AACE9B solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.my-nav ul li:nth-child(4){
    display: none;
}

.button-1{
    background-color: #EBECF0;
}

.button-selection{
    background-color: #373867;
}

.button-selection a{
    color: #fff;
}

.other-options h2{
    display: none;
}

.options-1{
    display: none;
}

.options-2{
    margin-top: 3rem;
}

.options-2 a{
    font-size: 0.825rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.options-2 li {
    display: flex;
    justify-content: start;
    padding: 0 0 0 60vw;
    width: 100vw;
}

.options-2 li a > img{
    width: 1.5rem;
    padding-right: 0.5rem;
}

.options-2 li:nth-child(3) a > img{
    width: 2rem;
    padding-right: 0.5rem;
}


.socials{
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    order: 2;
    margin: 3rem 2rem 0 0;
}

.socials .insta{
    width: 2rem;
    padding: 0.25rem;
}

.socials .face{
    width: 2rem;
    padding: 0.25rem;
}

.socials .google{
    width: 2rem;
    padding: 0.25rem;
}