footer{
    background-color: #373867;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.9375rem;
    height: 3rem;
    font-size: 12px;
}

footer img{
    width: 1rem;
    height: 1rem;
}

footer .google {
    width: 1.25rem;
    height: 0.8125rem;
}