.header{
    display: flex;
    align-items: center;
    background-color: #373867;
    color: #AACE9B;
    width: 100vw;
    height: 15vw;
    min-height: 58px;
}

.header h1{
    margin: auto;
    font-size: 8vw;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-1{
    display: none;
}

.burger{
    max-height: 47px;
}

@media screen and (min-width:480px) {
    .header{
        width: 80vw;
        justify-content: space-around;
    }

    .header h1{
        margin: 0 10vw 0 0;
        font-size: 3.75vw;
    }

    .logo-1{
        display: inline;
        margin: 2vw 0 0 2vw;
        width: 35%;
    }
    
}

@media screen and (min-width:1024px) {
    .header{
        width: 80vw;
        justify-content: start;
        height: 10vw;
    }

    .header h1{
        margin: 0 0 0 3vw;
        font-size: 2.5rem;
    }

    .logo-1{
        display: inline;
        margin: 1vw 0 0 2vw;
        width: 15rem;
    }
            
}
