main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reason-health h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.reason-health{
    margin-top: 70px;
    margin-bottom: 70px;
}

.health-content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 21px;

}

.health-content img{
    max-width: 100%;
}

.health-content p{
    padding: 0px 20px 0px 20px;
    margin-top: 21px;
}

#help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('..//img/image-5.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
}

.help-title{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 50px;
}


.help-ul{
    height: 25rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.help-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 228px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px #373867 solid;
    border-radius: 5px;
    background-color: #EBECF0;
}

.help-text{
    margin: 20px;
}

#help img{
    display: none;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10%;
}

.contact-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20%;
}

.contact img{
    width: 25px;
    height: 25px;
}

.form-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-top: 10%;
    padding: 10% 10% 0% 10%;
    font-weight: 700;
}

.form-item input{
    width: 50%;
    height: 1.7rem;
    border-radius: 20px;
}

.contact-general{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
}

#history{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#history img{
    display: none;
}

.history-text{
    margin: 50px 0px;
    padding: 9rem 2rem;
    height: 20vh;
    text-align: justify;
    text-shadow: 4px 4px 4px; 
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: url('../img/image-6.png');
    background-position: center;
    background-size: cover;
}
