main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.reason-health h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.reason-health {
    margin-top: 70px;
    margin-bottom: 70px;
}

.health-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 21px;
}

.health-content img {
    max-width: 100%;
}

.health-content p {
    padding: 0px 20px 0px 20px;
    margin-top: 21px;
}

#help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('..//img/image-5.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
}

.help-title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 50px;
}


.help-ul  {
    height: 25rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.help-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 228px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px #373867 solid;
    border-radius: 5px;
    background-color: #EBECF0;
}

.help-text {
    margin: 20px;
}

#help img {
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10% 0;
}

.contact-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20%;
}

.contact img {
    width: 25px;
    height: 25px;
}

.form-item {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 10% 10% 0% 10%;
    font-weight: 700;
}

.form-item input {
    width: 50%;
    height: 1.7rem;
    margin-left: 4rem;
    border: #000 solid 1px;
    border-radius: 20px;
}

#surname {
    margin-left: 2.75rem;
}


.contact-general {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 10%;

}
.contact-general h3 {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0 0 0 2.2rem;
}

.reason-contact {
    padding: 1.6rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 700;
}
.reason-contact p {
    text-align: left;    
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    margin: 0 1.75rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.message textarea {
    width: 80vw;
    margin: 1.75rem 0;
}
.message-inputs {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.message input[type="submit"] {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #373867;
    background-color: #AACE9B;
    border-radius: 5px;
}

.message button[type="reset"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #373867;
    background-color: #fff;
    border-radius: 5px;
}

#history {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#history img {
    display: none;
}

.history-text {
    margin: 50px 0px;
    padding: 9rem 2rem;
    text-align: justify;
    text-shadow: 4px 4px 4px; 
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-image: url('../img/image-6.png');
    background-position: center;
    background-size: cover;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.activity li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px 0 25px;
    margin: 1.4rem 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.activity li > img {
    width: 3rem;
}

.membership {
    display: flex;
    flex-direction: column;
    padding: 0 0 6rem 0;
}

.black {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.black h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10%;
}

.black img {
    width: 2.125rem;
}

.black ul {
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    list-style-type: "-";
}

.classic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.classic h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10%;
}

.classic img {
    width: 2.125rem;
}

.classic ul{
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    list-style-type: "-";
}

.only{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.only h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10%;
}

.only img {
    width: 2.125rem;
}

.only ul{
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    list-style-type: "-";
}