body{
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}