body{
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

a{
    text-decoration: none;
    color: #373867;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (min-width:480px) {
    .main-container{
        height: 100%;
    }
    
}